mixin itemDefault(itemName, col, name, img, data, text, btnClass, btnText)
  -var masColName = ['','item-col-full','item-col-half','item-col-third','item-col-quarter']
  .item(class=masColName[col] class=itemName+"-item")
    a.item__img.img-cover(href="#")
      img(src= img, alt="")
    if data
      .item__date= data 
    h3
      a(href="#")= name
    if text
      .item__description= text
    if btnClass
      a(href="#" class= btnClass)= btnText